:80 {

    #######################################################################
    # ROOT
    #######################################################################

    root * D:\CandelaDigital\CandelaDigital

    encode gzip zstd

    #######################################################################
    # STATIC FILES
    #######################################################################

    file_server browse

    #######################################################################
    # HEADERS
    #######################################################################

    header {

        ###################################################################
        # CORS
        ###################################################################

        Access-Control-Allow-Origin *

        Access-Control-Allow-Methods "GET, POST, OPTIONS"

        Access-Control-Allow-Headers *

        ###################################################################
        # CROSS ORIGIN
        ###################################################################

        Cross-Origin-Opener-Policy same-origin

        Cross-Origin-Embedder-Policy credentialless

        ###################################################################
        # SECURITY
        ###################################################################

        X-Content-Type-Options nosniff

        Cache-Control "no-cache"
    }

    #######################################################################
    # OPTIONS PRE-FLIGHT
    #######################################################################

    @options method OPTIONS

    respond @options 204
}